<div class="container mt-5">
  <div class="d-flex flex-column align-items-center justify-content-center">

    <h2>The beginning of your trip to <%= @destination %></h2>
    <%= render "form", trip: @trip, text: @text %>
  </div>
</div>
