<div class="container mt-4">
  <div class="d-flex flex-column align-items-center justify-content-center">

    <h1>Vous avez sélectionné : <%= @destination %></h1>

    <h2>Create your trip</h2>
    <%= render "form", trip: @trip, text: @text %>
  </div>
</div>
