<div class="container py-5">
  <h1 class="center-choose">Choose your activities in <%= @trip.destination.capitalize %></h1>
</div>
  <%= simple_form_for @trip, url: activity_choice_trip_path(@trip), method: :post do |f| %>
    <%= f.association :trip_activities, as: :check_boxes,
                      legend_tag: false,
                      input_html: { class: "activity-selector" },
                      item_wrapper_class: 'activity-item',
                      collection: Activity.where.not(category: 'City'), label_method: lambda { |activity| render("activity_infos", activity: activity)  }, value_method: :id, class: '' %>
      <div class="d-flex justify-content-center py-4">
        <%= f.submit "Validate your activities", class: 'btn btn-koral'%>
      </div>
  <% end %>
