<div class="container py-5 text-center ">
  <h1> Choose your activities in <%= @trip.destination.capitalize %></h1>
</div>
  <%= simple_form_for @trip, url: activity_choice_trip_path(@trip), method: :post do |f| %>
    <%= f.association :trip_activities, as: :check_boxes,
                      legend_tag: false,
                      input_html: { class: "activity-selector" },
                      item_wrapper_class: 'activity-item',
                      collection: Activity.where.not(category: 'City'), label_method: lambda { |activity| render("activity_infos", activity: activity)  }, value_method: :id, class: '' %>
     <%= f.submit "Validate your activities", class: 'btn btn-outline-secondary rounded mb-5' %>
  <% end %>
