// Define variables for your color scheme
$water-green: #E6F7EE;
$dark-green: #255853;
$turquoise: #40E0D0;
$koral:#FD7B60;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
