.btn-ghost {
  color: $dark-green;
  background:#f7f4f4;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 5;
  transition: opacity 0.3s ease;
}

.btn-outline-dark {
  border-radius: 50px;
  height: 32px;
}

.btn-koral {
  border: 1px solid #fcfcfc;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #E6F7EE;
  background: $koral;
  &:hover {
    color: $dark-green;
  }
}
