.cards {
  display: grid;
  height: 530px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-items: center;
}

.card-text {
  color: #0e0000;
  font-weight: normal;
  text-align: center;
}

.card-title {
  color: #0e0000;
  font-weight: normal;
  text-align: center;
}

.card-activity {
  height: 340px;
  width: 500px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  border: 4px solid #345ec2;
  margin-bottom: 20px;
  background-size: cover;
}
.inner {
    height: 285px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e6f7ee;
    opacity: 0.7;
    box-sizing: border-box;
    padding: 25px;

}

.trip_trip_activities {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  grid-gap: 10px;
}

.card img {
  height: 35vh;
  object-fit: cover;
  width: 100%;
}

.card h3,h4,h5,h6 {
  color: rgb(12, 12, 12);
  }

.card {
  height: 100% !important;
}

.card h2 {
  position: absolute;
  top: 35%;
  text-align: center;
  width: 100%;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}
.card-item {
  display: inline-block;
}

.activity-selector {
  position: absolute;
  transform: scale(0);
}

.activity-selector + label {
  cursor: pointer;
  display: inline-block;
  border: 4px solid #ebebf0;
  margin-bottom: 5px;
  height: 100%;
}

.activity-selector:checked + label {
  border-color: #10beca;
}

.form-group.check_boxes.optional.trip_trip_flights {
  display: flex;
  flex-wrap: wrap;
}

.card-flight {
    height: 327px;
    width: 346px;
    /* position: relative; */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
}

.flight-selector {
  position: absolute;
  transform: scale(0);
}

.flight-selector + label {
  cursor: pointer;
  display: inline-block;
  border: 2px solid #EBEBF0;
  margin-bottom: 20px;
  margin-right: 20px;
}

.form-check-input:checked + label {
  border-color: #166977;
}

.font-plane {
  font-size: 1.6rem;
}

.card-activities {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
