.form-group.check_boxes.optional.trip_trip_flights {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; // not used?
  align-content: space-between;
  height: 790px;
}

.flight-selector {
  position: absolute;
  transform: scale(0);
  &:checked + label {
    opacity: 1;
    border: none;
    .bgSizeContain {
      &:before {
        filter: invert(62%) sepia(68%) saturate(2208%) hue-rotate(322deg) brightness(104%) contrast(98%);
      }
    }
  }

  &:hover + label {
    opacity: 1;
    border: none;
    .bgSizeContain {
      &:before {
        filter: invert(62%) sepia(68%) saturate(2208%) hue-rotate(322deg) brightness(104%) contrast(98%);
      }
    }
  }

}

.flight-selector + label {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
  opacity : 0.8;
}

.bgSizeContain {
  align-items: flex-end;
  width: 490px;
  height: 240px;
  padding: 30px;
  text-align: center;
  color: #000;
  position: relative;
  &:before {
    content: "";
    background-image: asset-url('ticket.svg');
    background-size: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
.top-infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;

  h2 {
    margin: 0px;
  }
}

.bottom-infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  span {
    color: $dark-green;
  }
}

.ticket-price {
  font-size: 25px;
  margin-bottom: 0;
  width: 150px;
  text-align: left;
}

.ticket-dates{
  color: $dark-green;
  font-weight: 500;
  margin: 5px;
}

.ticket-duration {
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    color: $dark-green;
    padding: 1px;
    font-weight: 500;
  }
}
.margin-to-plane {
  margin-top: -15px;
}
.arrival-departure {
  display: flex;
  // justify-content: space-around;
  justify-content: space-between;
  margin-bottom: 25px;

  h2 {
    width: 490px;
    text-align: center;
    margin: 0px;
    padding: 10px;
  }
}
.center-choose {
  color: $turquoise;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.rotate-flight {
  transform: rotate(45deg);
}
