.cards {
  display: grid;
  height: 530px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-items: center;
}

.card-text {
  color: #0e0000;
  font-weight: normal;
  text-align: center;
}

.card-title {
  color: #0e0000;
  font-weight: normal;
  text-align: center;
}

.card-activity {
  height: 340px;
  width: 500px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  margin-bottom: 20px;
  background-size: cover;
}

.trip_trip_activities {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  grid-gap: 10px;
}


.card img {
  height: 20vh;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card {
  height: 100% !important;
  border-radius: 8px;
  border: none;
}

.card h4 {
  top: 35%;
  text-align: center;
  width: 100%;
  color: #40E0D0;
}

.card-item {
  display: inline-block;
}

.activity-selector {
  position: absolute;
  transform: scale(0);
}

.activity-selector + label {
  cursor: pointer;
  display: inline-block;
  border: 4px solid transparent;

  height: 100%;
}

.activity-selector:checked + label {
  border-color: #40E0D0;

}

.form-check-input:checked + label {
  border-color: #166977;
  border-radius: 12px;
}

.card-activities {
  height: 160px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 17px;
  border-radius: 8px;
}

.card-description {
  display: none;
  transition: 0.3s ease;
  text-align: justify;
}

.card-content{
  transition: 0.3s ease;
}

.act {
    transition: 0.3s ease;
}

.act:hover {

  .card-description {
    display: block;
  }
  .card-infos {
    display: none;
  }
}
