
.first-step-form-wrapper {
  position: absolute;
  bottom: -90px;
  width: 100%;
}
.container-form {
  font-family: "Noto Sans TC", sans-serif, "Helvetica", "sans-serif";
  color: #255853;
  width: 70vw;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  background: white;
  margin: 0 auto;

}
.row {
  display: flexbox;
}

.nb-people-input{
  width: 75px;
  margin-left: 10px;
}

.nb-people-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0 !important;
}

.btn-absolut {
  position: absolute;
}
