.footer {
  background:#c9ead9;
  background-image: -moz-element(0,0,0,0.1);
  height: 100px;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0.4;
  padding: 15px 50px;

}

.footer-text {
    height: 114px;
    color: rgba(9, 51, 54, 0.8);
    font-size: 24px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #255853;

  text-decoration: none;

  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-copyright {
    color: rgba(9, 51, 54, 0.8);
    font-size: 20px;
}
