  .banner {
  height: 70vh;
  background-size: cover;
  color: rgb(248, 245, 245);


  }
  .banner-bloc-text {
	width: 434px;
  padding-top: 100px !important;

  p {
    font-weight: normal;
  }
	}
  .text-home {
    padding-top: 140px !important;
  }
