  .banner {
  height: 100vh;
  background-size: cover;
  color: rgb(248, 245, 245);


  }
  .container {
	width: 400px;
	top:200px;
  position: relative;
  margin-left: 200px;
  margin-right: 300px;
	padding:0px;
	text-align:left;
	}
