.mapboxgl-popup {
  max-width: 200px;
  border-radius: 20px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.trip-summary {
  text-align: center;
  margin-top: 80px;
}

#map {
  margin: 1.5rem;
  position: sticky;
  top: 0;
}

#accordion .card {
  background-color: transparent;
  border: none;
  .card-header {
    background-color: transparent;
  }
  h3 {
    font-size: 1.5rem;
  }
}

.space-activity {
  color: $dark-green;
}
.category-absolute {
  position: absolute;
}

.map-container {
  margin-right: 20px;
}
