.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar-lewagon {
  justify-content: space-between;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav {
  flex-direction: row;
}



.navbar-transparent {
  background-color: transparent;
}

.navbar-white {
  background-color: white;
}
