.select2-dropdown {
  background-color: white;
  border: 1px solid $koral;
  border-color: $koral;
  border-radius: 15px;
  // left: -100000px;
  // top: 2px;
  padding-top: 5px;
  width: 100%;
  z-index: 1051;
}

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    border-color: $koral;
    border: 1px solid $koral;
    box-shadow: none;
}

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    border-color: $koral;
    border: 1px solid $koral;
    box-shadow: none;
    border-radius: 15px;
}

.select2-container--bootstrap .select2-dropdown {
    border-color: $koral;
    overflow-x: hidden;
    margin-top: -2px;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: $koral;
    color: #fff;
}

.select2-search--dropdown {
    display: block;
    padding: 6px 4px 10px 4px;
    border: none;
}


.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    border-radius: 2.25rem;
    // transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #fff;
    border: 1px solid #ced4da;
    color: inherit;
    font-size: 1rem;
    padding-left: 15px;
}

.select2-container--bootstrap.select2-container--open.select2-container--below .select2-selection {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-color: transparent;
}

// Default Selected Label
.select2-container--bootstrap .select2-selection {
    border-radius: 15px;
    // transition: border-color 0.1s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #fff;
    border: 1px solid #ced4da;
    color: inherit;
    font-size: 1rem;
    outline: 0;
}
// Default Selected Label
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: inherit;
    padding: 0;
}

.select2-selection__rendered {
    line-height: 33px !important;
}

// Inside sub labels
.select2-container--bootstrap .select2-results__option .select2-results__option {
    padding: 0.375rem 1.25rem;
    color:$dark-green;
}
// Inside sub labels selected
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #FD7B60;
    color: white !important;
}
// Inside "Group" labels
.select2-container--bootstrap .select2-results__group {
    color: $dark-green;
    display: block;
    padding: 0.4rem 0.75rem;
    font-size: 0.975rem;
    line-height: 1.5;
    white-space: nowrap;
}

// position label selected dans initial box
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 5px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;

    // left: 9px;
    /* display: none; */
}
#drop-from.select2-container .select2-selection--single .select2-selection__rendered {
  top: -6px;
}


// ARROW
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow {
    position: absolute;
    bottom: 0;
    right: 0.75rem;
    top: 0;
    width: 0.45rem;
}

.select2-selection__arrow {
    height: 38px !important;
}

.grouped_select > label {
    // position: relative;
    // top: 0;
    // left: 15px;
    z-index: 10;
}

// Block label + value
.grouped_select.optional.trip_departure_flight > label {
  position: absolute;
  top: 6px;
  left: 15px;
  opacity: 0.8;
  color: #5F738C;
  font-weight: 400;
  margin-bottom: 0px;
}

#select2-trip_departure_flight-container {
  top: -6px;
  left: 60px;
}


.grouped_select.optional.trip_arrival_flight > label {
  position: absolute;
  top: 6px;
  left: 15px;
  opacity: 0.8;
  color: #5F738C;
  font-weight: 400;
  margin-bottom: 0px;
}


#select2-trip_arrival_flight-container {
  top: -6px;
  left: 40px;
}

.grouped_select.optional {
  position: relative;
}

.select2-search__field {
  outline: none;
}

.select2-results {
    display: block;
    overflow: auto;
    // height: 250px;
}

.select2-results__option.select2-results__message {
  color: $dark-green;
  text-align: center;
}

.select2-container .select2-selection--single {
  height: 38px;
}
