// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/themes/material_blue";
@import "select2/dist/css/select2";

// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  text-decoration: none;
  color: #636369;

  &:hover {
    text-decoration: none;
    color: #fefefe;
  }
}

h1 {

  font-family: 'Noto Sans TC', sans-serif, "Helvetica", "sans-serif";
}

h2, h4, h5, h6 {

  font-family:"Work Sans", "Helvetica", "sans-serif";;
  color: #255853;
}


p {
  font-family:"Work Sans", "Helvetica", "sans-serif";;
  color: #255853;;
}

body {
  background-color: #e6f7ee
;
  opacity: 1;
}
