// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/themes/material_blue";
@import "select2/dist/css/select2";

// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  text-decoration: none;
  color: #151527;

  &:hover {
    text-decoration: none;
    color: #fefefe;
  }
}

h1, h3 {
  color: #f3f3f7;
  font-family: 'Gill Sans Extrabold', sans-serif;
}

h2, h4, h5, h6 {
  color: #151527;
  font-family:'Gill Sans Extrabold', sans-serif;
}


p {
  font-family:'Gill Sans Extrabold', sans-serif;
  color: #151527;
}

body {
  background-color: #e6f7ee
;
  opacity: 1;
}
