// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/themes/material_blue";
@import "select2/dist/css/select2";
@import "select2-theme-bootstrap4/dist/select2-bootstrap";

// Your CSS partials
@import "vendors/index";
@import "components/index";
@import "pages/index";

a {
  text-decoration: none;
  color: #636369;

  &:hover {
    text-decoration: none;
    color: #fefefe;
  }
}

h1, h3 {
  font-family: 'Noto Sans TC', sans-serif, "Helvetica", "sans-serif";
  color: #40E0D0;
}

h2, h4, h5, h6 {

  font-family:"Work Sans", "Helvetica", "sans-serif";;
  color: $dark-green;
}


p {
  font-family:"Work Sans", "Helvetica", "sans-serif";;
  color: $dark-green;
}

body {
  background-color: #e6f7ee;
  opacity: 1;
}

.form-control:focus {
    // color: #495057;
    background-color: #fff;
    border-color: $koral;
    // outline: 0;
    box-shadow: none
}
